<nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="{{path('app_home')}}" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5"><span class="text-primary">Atelier</span>Sahaza</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a href="{{path('app_home')}}" class="nav-item nav-link active">Accueil</a>
                <a href="{% if app.request.attributes.get('_route') != 'app_home' %} {{path('app_home')}}#about {% else %} #about {% endif %}" class="nav-item nav-link">A propos</a>
                <a href="{% if app.request.attributes.get('_route') != 'app_home' %} {{path('app_home')}}#service {% else %} #service {% endif %}" class="nav-item nav-link">Service</a>
                <a href="{% if app.request.attributes.get('_route') != 'app_home' %} {{path('app_home')}}#contact {% else %} #contact {% endif %}" class="nav-item nav-link">Contact</a>
                <a href="{% if app.request.attributes.get('_route') != 'app_home' %} {{path('app_home')}}#gallerie {% else %} #gallerie {% endif %}" class="nav-item nav-link">Gallerie</a>
                <a href="{% if app.request.attributes.get('_route') != 'app_home' %} {{path('app_home')}}#testimonial {% else %} #testimonial {% endif %}" class="nav-item nav-link">Temoignage</a>
            </div>
            <a href="" class="btn btn-outline-primary d-none d-lg-block">Hire Me</a>
        </div>
    </nav>