
<div class="pagetitle">
    <h1>Mon profile </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Mon profile</li>
      </ol>
    </nav>
  </div>

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{{asset('assets/img/profile.jpg')}}" alt="Profile" class="rounded-circle">
            <h2 style="font-size: 18px;"> {{app.user.lastName|upper}} {{app.user.firstName}} </h2>
            <h3>Administrateur</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Aperçu</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">MAJ profile</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Parametres</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">MAJ mot de passe</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">En tant qu'administrateur</h5>
                <p class="small fst-italic">
                    En tant qu'administrateur, vous jouerez un rôle crucial dans la gestion et 
                    le bon fonctionnement de notre organisation. Votre mission principale sera de 
                    superviser les opérations quotidiennes, d'assurer la sécurité et l'intégrité des données, 
                    et de garantir une expérience utilisateur fluide et efficace. Vous serez responsable 
                    de la gestion des utilisateurs, des ressources et des systèmes informatiques, 
                    tout en maintenant des normes élevées de performance et de sécurité.
                </p>

                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nom complet</div>
                  <div class="col-lg-9 col-md-8"> {{app.user.lastName|upper}} {{app.user.firstName}} </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Entreprise</div>
                  <div class="col-lg-9 col-md-8">Atelier SAHAZA</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Pays</div>
                  <div class="col-lg-9 col-md-8">MADAGASCAR</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Adresse</div>
                  <div class="col-lg-9 col-md-8">A108 Adam Street, New York, NY 535022</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Téléphone</div>
                  <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Adresse e-mail</div>
                  <div class="col-lg-9 col-md-8"> {{app.user.email}} </div>
                </div>

              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  {{form_start(form, {'attr': {'id': 'updateAdmin', 'action': path('app_admin_liste') }})}}
                    <div class="row mb-3">
                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                        <div class="col-md-8 col-lg-9">
                            {{form_widget(form.lastName)}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="about" class="col-md-4 col-lg-3 col-form-label">Prénom(s)</label>
                        <div class="col-md-8 col-lg-9">
                            {{form_widget(form.firstName)}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Adresse e-mail</label>
                        <div class="col-md-8 col-lg-9">
                            {{form_widget(form.email)}}
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-sm">Modifier</button>
                    </div>
                  {{form_end(form)}}
              </div>

              <div class="tab-pane fade pt-3" id="profile-settings">

                <!-- Settings Form -->
                <form>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                    <div class="col-md-8 col-lg-9">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="changesMade" checked>
                        <label class="form-check-label" for="changesMade">
                          Changes made to your account
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="newProducts" checked>
                        <label class="form-check-label" for="newProducts">
                          Information on new products and services
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="proOffers">
                        <label class="form-check-label" for="proOffers">
                          Marketing and promo offers
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                        <label class="form-check-label" for="securityNotify">
                          Security alerts
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form><!-- End settings Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">

                {{ form_start(formPwd) }}

                    <div class="row mb-3">
                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Ancien mot de passe</label>
                        <div class="col-md-8 col-lg-9">
                            <span class="error"> {{ form_errors(formPwd.oldPassword) }} </span>
                            {{ form_widget(formPwd.oldPassword) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nouveau mot de passe</label>
                        <div class="col-md-8 col-lg-9">
                            <span class="error"> {{ form_errors(formPwd.newPassword) }} </span>
                            {{ form_widget(formPwd.newPassword) }}
                        </div>
                      </div>
    
                      <div class="row mb-3">
                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Confirmation mot de passe</label>
                        <div class="col-md-8 col-lg-9">
                            <span class="error"> {{ form_errors(formPwd.confirmPassword) }} </span>
                            {{ form_widget(formPwd.confirmPassword) }}
                        </div>
                      </div>
    
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Modifier mot de passe</button>
                      </div>

                {{ form_end(formPwd) }}

              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </section>


  <script>
    $(document).ready(function () {
       $('#updateAdmin').on('submit', function (e) {
            e.preventDefault();
            let form = $(this);
            var menu = '{{menu}}';
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                success: function (response) {
                    //$('#modalUpdate').modal('hide');
                    var nextLink = $('#sidebar').find('li#'+menu).find('a');
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Enregistrement effectuée');

                        //$(".loadBody").css('display', 'none');

                    }, 800);
                    if (nextLink.length > 0) {
                        nextLink.click();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de la modification de profil.');
                }
            });
        });
    });
</script>
